body {
    background-color: #eaeef1;

}
.c1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: normal;
    align-content: normal;
}
button {
    cursor : pointer;
    font-family: helvetica;
    font-weight: bold;
    color: #FFFFFF !important;
    font-size: 14px;
    text-shadow: 0px 0px 0px #FFFFFF;
    box-shadow: 0px 0px 0px #BEE2F9;
    padding: 15px 30px;
    border-radius: 0px;
    border: 0px solid #3866A3;
    background: #3756BD;
    text-align: center;
    align-self: center;
    margin: 10px
    
  }
button:hover {
    cursor : pointer;
    color: #000000 !important;
    background: #80AAFF;
    margin: 10px
  }


  input {
    font-family: helvetica;
    font-weight: bold;
    color: #686868 !important;
    font-size: 14px;
    text-shadow: 0px 0px 0px #FFFFFF;
    padding: 15px 30px;
    border-radius: 0px;
    border: 2px solid #000000;
    background: #ffffff;
    text-align: center;
    align-self: center;
    box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.12);
    margin: 10px
  }
  .span {
    font-family: helvetica;
    font-weight: bold;
    color: #686868 !important;
    font-size: 14px;
    text-shadow: 0px 0px 0px #FFFFFF;
    padding: 15px 30px;
    border-radius: 0px;
    border: 0px solid #000000;
    background: #ffffff;
    text-align: center;
    align-self: center;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
    margin: 10px
  }
  